.login-image-container img{
    height: 420px;
    transform: translateX(-20px);
}

@media screen and (min-width: 1366px) {
    /* body {
      background-color: lightgreen !important;
    } */
    .login-image-container img{
        height: 440px;
        transform: translateX(-20px);
    }
}