#appointment-section {
    background-color: rgba(33, 132, 187, 0.1);
}

.doctor-img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.appointment-card-bg {
    background-color: rgba(33, 132, 187, 0.1);
    border-radius: 15px;
}
.slick-prev:before, .slick-next:before{
    color: rgba(33, 132, 187, 1);
    font-size: 28px;
}